<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<h1 align="center">Student Form</h1>

<form action="addData" method="POST">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td> Name:</td>
            <td>
               <input type="text" name="sname">
           </td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>
                <input type="radio" value="Male" name="gender">Male
                <input type="radio" value="Female" name="gender">Female
            </td>
        </tr>



        <tr>
            <td>Country</td>
            <td>
                <select name="country">
                    <option >Select Country</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="canada">Canada</option>
                    <option value="Germany">Germany</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                Hobbies:
            </td>

            <td>
                <input type="checkbox" name="hobbies[]" value="Sing">Sing
                 <input type="checkbox" name="hobbies[]" value="Dance">Dance
                 <input type="checkbox" name="hobbies[]" value="REad">Read
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>


</body>
</html>